In [1]:
import pandas as pd

In [2]:
data = {'Color':['red','green','blue','red','green']}
df=pd.DataFrame(data)

In [3]:
df

   Color
0    red
1  green
2   blue
3    red
4  green

In [6]:
df_encoded = pd.get_dummies(df,columns=['Color'],prefix='color')

In [9]:
print("Original DataFrame:")
print(df)
print("Encoded DataFrame:")
print(df_encoded)

Original DataFrame:
   Color
0    red
1  green
2   blue
3    red
4  green
Encoded DataFrame:
   color_blue  color_green  color_red
0       False        False       True
1       False         True      False
2        True        False      False
3       False        False       True
4       False         True      False